.image-wrapper {
    position: relative;
}

.image-label {
  position: absolute;
  font-size: xx-large;
  color: peachpuff;
  font-weight: bold;
  left: 0;
  width: 100%;
}

.image-label-sm{
  bottom: 15px;
}

.image-label-lg{
  bottom: 60px;
}

.favourite-image{
  position: absolute;
  top: 7px;
  right: 5px;
}