.checkBoxes-wrapper {
    margin: 4px;
    padding: 8px;
    background: white;
}

.divider {
    margin: 10px 0 !important;
}

.menu-item-wrapper {
    padding: 8px;
    margin-bottom: 4px
}

.menu-item-wrapper .space{
    height: 20px;
}